
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, update: if request.auth != null && request.auth.uid == userId;
      allow create: if request.auth != null && request.auth.uid == userId;
    }
    match /shipments/{shipmentId} {
      function isOwner() {
        return request.auth.uid == resource.data.exporterId;
      }
      function isCarrier() {
        return exists(/databases/$(database)/documents/users/$(request.auth.uid)) && 
               get(/databases/$(database)/documents/users/$(request.auth.uid)).data.userType == 'carrier';
      }
      
      allow read: if isCarrier() || isOwner();
      allow create: if request.auth.uid == request.resource.data.exporterId;
      allow update: if isOwner() && (
        request.resource.data.diff(resource.data).affectedKeys()
        .hasOnly([
            'productName', 'hsnCode', 'modeOfShipment', 'cargo', 'departureDate', 'deliveryDeadline', 
            'origin', 'destination', 'specialInstructions', 'status', 
            'winningBidId', 'winningCarrierId', 'winningCarrierName', 'winningBidAmount'
        ])
      );
      
      match /bids/{bidId} {
        allow read: if isOwner() || isCarrier();
        allow create: if isCarrier() && request.auth.uid == request.resource.data.carrierId;
      }
    }
  }
}

    